{% extends 'base-dashboard.html.twig' %}

{% block title %}Partenaire | {{ partenaire.nom }}{% endblock %}

{% block body %}
    <h1>Partenaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ partenaire.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ partenaire.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partenaires_index') }}">back to list</a>

    <a href="{{ path('partenaires_edit', {'id': partenaire.id}) }}">edit</a>

    {{ include('partenaires/_delete_form.html.twig') }}
{% endblock %}
