{% extends 'base-dashboard.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area">
        <h1>Team</h1>
        <ol class="breadcrumb">
            <li class="item"><a href="{{ path('home') }}">Home</a></li>
            <li class="item">Team</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

<!-- Start Resume Alerts Area -->
<div class="resume-alerts-area">
    <div class="resume-alerts-table table-responsive">
        <div class="d-flex flex-row justify-content-between">
            <h2>Team members</h2>
            <a class="default-btn border-radius-5" href="{{ path('team_new') }}">Add</a>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.nom }}</td>
                <td>{{ team.prenom }}</td>
                <td>{{ team.role }}</td>
                <td>
                    <ul class="option-list">
                        <li><a href="{{ path('team_show', {'id': team.id}) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View"><i class="ri-eye-line" type="button"></i></button></a></li>
                        <li><a href="{{ path('team_edit', {'id': team.id }) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="ri-edit-line"></i></button></a></li>
                        <li>{{ include('team/_delete_form.html.twig') }}</li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
