{% extends 'base.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
    <div class="post-job-area pt-100 pb-70">
        <div class="container">
            <div class="post-job-form">
                <h2>Add a new Projects</h2>
                <div class="bar"></div>
                {% if app.user %}
                <div class="contact-form">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    {{ form_row(form.nom) }}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form_row(form.intro) }}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="choose-img">
                                    <p class="title">Illustration</p>
                                    {{ form_row(form.avatar) }}
                                    <p>Maximum file size: 2 MB</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.categorie) }}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.tags) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_row(form.auteur, { 'attr': {'id': 'select'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_row(form.editor, { 'attr': {'id': 'select'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.isPublished) }}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_row(form.video) }}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="choose-img">
                                    <p class="title">Gallery images</p>
                                    {{ form_row(form.images) }}
                                    <p>Maximum file size: 2 MB</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn border-radius-5">
                                    Save <i class="ri-check-line"></i>
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
                {% else %}
                    <div class="container">
                        <div class="employers-cv-bg">
                            <div class="row align-items-center">
                                <div class="col-lg-8">
                                    <div class="employers-cv-content">
                                        <h2>Not registered yet?</h2>
                                        <div class="bar"></div>
                                        <p>You need an account to join homers and post projects</p>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="employers-cv-btn">
                                        <a href="{{path('app_register')}}">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
