<!-- Recent Job Area Two -->
<div class="recent-job-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Recent Projects Posted</h2>
            <div class="bar m-auto"></div>
            <p class="m-auto">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>
        </div>

        <div class="row pt-45">
            {% for project in projects %}
            <div class="col-lg-6">
                <div class="recent-job-card">
                    <div class="content">
                        <div class="recent-job-img">
                            {% if project.images %}
                                {% for logo in project.images %}
                                    {% if loop.first %}
                                    <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}" width="70px">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <h3><a href="{{ path('project_page', {'slug': project.slug}) }}">{{ project.nom }}</a></h3>

                        <ul class="job-list1">
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    {% if project.categorie %}
                                        {% for cat in project.categorie %}
                                            <li class="time">{{ cat.nom }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-12 text-center">
                <div class="browse-btn">
                    <a href="{{ path('all_projects') }}"> Browse All Projects <i class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Recent Job Area Two End -->