{{ form_start(form) }}
<div class="row">
<div class="form-group col-lg-6">{{ form_row(form.nom) }}</div>
<div class="form-group col-lg-6">{{ form_row(form.city) }}</div>
<div class="form-group col-lg-6">{{ form_row(form.intro) }}</div>
<div class="form-group col-lg-6">{{ form_row(form.description) }}</div>
<div class="form-group col-lg-6">{{ form_row(form.year) }}</div>
<div class="form-group col-lg-6">{{ form_row(form.ordre) }}</div>
<div class="form-group col-lg-6">{{ form_row(form.status) }}</div>
<div class="form-group col-lg-6">{{ form_row(form.video) }}</div>
    <div class="col-lg-6">
        {{ form_row(form.avatar) }}
        {% if app.request.attributes.get('_route') == 'edition_edit' %}
            <p>Avatar</p>
            <div class="row">
                {% for image in edition.avatar %}
                    <div class="col-lg-3 col-md-3 col-sm-6 delete-image-container" style="background-image: url('{{ asset('/uploads/' ~ image.nom) }}');" id="view{{ image.id }}">
                        <a href="#" class="delete-sweetalert" data-id="{{ image.id }}" data-url="{{ path('editions_delete_files', {'id': image.id}) }}">
                            <button class="delete-image" data-text="Delete"><i class="ri-delete-bin-line"></i></button>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.illustration) }}
        {% if app.request.attributes.get('_route') == 'edition_edit' %}
            <p>Illustration</p>
            <div class="row">
                {% for image in edition.illustration %}
                    <div class="col-lg-3 col-md-3 col-sm-6 delete-image-container" style="background-image: url('{{ asset('/uploads/' ~ image.nom) }}');" id="view{{ image.id }}">
                        <a href="#" class="delete-sweetalert" data-id="{{ image.id }}" data-url="{{ path('editions_delete_files', {'id': image.id}) }}">
                            <button class="delete-image" data-text="Delete"><i class="ri-delete-bin-line"></i></button>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

<button type="submit" class="default-btn border-radius-5 mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
