{% extends 'base.html.twig' %}

{% block title %}{{ edition.nom }} | {{ edition.city }}{% endblock %}

{% block body %}
    <div class="blog-details-area pt-100 pb-70">
        <div class="container">
            <div class="blog-details-content">
                <div class="content">
                    <h2>{{ edition.nom }}</h2>
                    {% if edition.city %}
                    <ul>
                        <li><a>{{ edition.city }}</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="blog-preview-img">
                {% if edition.avatar %}
                    {% for logo in edition.avatar %}
                        <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}">
                    {% endfor %}
                {% endif %}
            </div>
            <div class="blog-details-content">
                <blockquote class="blockquote">
                    <b>{{ edition.intro|raw }}</b>
                </blockquote>
                <div class="blog-articel">
                    <p>{{ edition.description|raw }}</p>
                </div>
                {% if edition.video %}
                <div class="company-details-content">
                    <div class="company-details-play" style="background-image: url('{{ asset('uploads/' ~ edition.avatar.first) }}');">
                        <a href="{{edition.video}}" class="play-btn">
                            <i class="ri-play-circle-line"></i>
                        </a>
                    </div>
                </div>
                {% endif %}
                <div class="blog-portfolio">
                    <h3>Photos gallery</h3>
                    <div class="bar"></div>
                    <div class="row gallery-photo">
                        {% if edition.illustration %}
                            {% for logo in edition.illustration %}
                                <div class="col-lg-3 col-6 col-md-3">
                                    <div class="blog-portfolio-img">
                                        <a href="{{ asset('uploads/' ~ logo.nom) }}">
                                            <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="article-share-area">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-sm-9">
                            <div class="article-social-icon">
                                <ul class="social-icon">
                                    <li class="title">Share</li>
                                    <li><div class="addthis_inline_share_toolbox"></div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            {#<div class="tag"><a href="tags.html">Marketing</a></div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-62e66c576aeb9725"></script>
{% endblock %}
