{% extends 'base-dashboard.html.twig' %}

{% block title %}Dictionnaire index{% endblock %}

{% block body %}
    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area">
        <h1>Dictionnaire</h1>
        <ol class="breadcrumb">
            <li class="item"><a href="{{ path('home') }}">Home</a></li>
            <li class="item">Dictionnaire</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start Resume Alerts Area -->
    <div class="resume-alerts-area">
        <div class="resume-alerts-table table-responsive">
            <div class="d-flex flex-row justify-content-between">
                <h2>Dictionnaire</h2>
                <a class="default-btn border-radius-5" href="{{ path('dictionnaire_new') }}">Add</a>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Value</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for dictionnaire in dictionnaires %}
                <tr id="view{{ dictionnaire.id }}">
                    <td>{{ dictionnaire.type }}</td>
                    <td>{{ dictionnaire.value }}</td>
                    <td>
                        <ul class="option-list">
                            <li><a href="{{ path('dictionnaire_show', {'id': dictionnaire.id}) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View"><i class="ri-eye-line" type="button"></i></button></a></li>
                            <li><a href="{{ path('dictionnaire_edit', {'id': dictionnaire.id }) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="ri-edit-line"></i></button></a></li>
                            <li>{{ include('dictionnaire/_delete_form.html.twig') }}</li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Start Resume Alerts Area -->
{% endblock %}
