{% extends 'base-dashboard.html.twig' %}

{% block title %}Import list(format csv){% endblock %}

{% block body %}
    <div class="post-a-new-job-box d-flex justify-content-between align-items-center">
        <h3>Add users to the {{ group.nom }} group</h3>
        <div style="margin-right: 10px">
            <i class="la la-download"></i> Need a <a href="{{ asset('images/modele-import-users.csv') }}">template</a> ?
        </div>
    </div>

    <div class="resume-alerts-area">
        <div class="resume-alerts-table table-responsive">
            {{ form_start(form, { 'attr': {'class': 'default-form', 'action' :  path('users_import', {'id': group.id }) } }) }}
            {{ form_row(form.fichier) }}
            <button type="submit" class="default-btn btn-sm border-radius-5 mt-2">{{ button_label|default('Save') }}</button>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>

{% endblock %}
