<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home Education Dashboard{% endblock %}</title>
    <link rel="icon" href="{{ asset('uploads/design/logo-small.png') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Home is association that focuses in sharing educational experiences on international scale.">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ include('layouts/select.html.twig') }}
    {% endblock %}
</head>
<body>
{% if app.user.isCandidat() %}{{ include('dashboard/user-sidebar.html.twig') }}{% endif %}
{% if app.user.isMentor() %}{{ include('dashboard/mentor-sidebar.html.twig') }}{% endif %}
{% if app.user.isAdmin() %}{{ include('dashboard/admin-sidebar.html.twig') }}{% endif %}
{% if app.user.isSuperAdmin() %}{{ include('dashboard/super-admin-sidebar.html.twig') }}{% endif %}

<div class="main-dashboard-content d-flex flex-column">
    {{ include('layouts/navbar-admin.html.twig') }}
    {% block body %}{% endblock %}
</div>

</body>
</html>
