<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home Education Dashboard{% endblock %}</title>
    <link rel="icon" href="{{ asset('uploads/design/logo.png') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Home is association that focuses in sharing educational experiences on international scale.">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ include('layouts/select.html.twig') }}
        <script src="{{ asset('js/wow.min.js') }}"></script>
    {% endblock %}
</head>
<body>
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
{% if app.user.isCandidat() %}{{ include('dashboard/user-sidebar.html.twig') }}{% endif %}
{% if app.user.isMentor() %}{{ include('dashboard/mentor-sidebar.html.twig') }}{% endif %}
{% if app.user.isAdmin() %}{{ include('dashboard/admin-sidebar.html.twig') }}{% endif %}
{% if app.user.isSuperAdmin() %}{{ include('dashboard/super-admin-sidebar.html.twig') }}{% endif %}

<div class="main-dashboard-content d-flex flex-column">
    {% if app.user.isCandidat() %}{{ include('layouts/navbar-user.html.twig') }}{% endif %}
    {% if app.user.isMentor() %}{{ include('layouts/navbar-mentor.html.twig') }}{% endif %}
    {% if app.user.isAdmin() %}{{ include('layouts/navbar-admin.html.twig') }}{% endif %}
    {% if app.user.isSuperAdmin() %}{{ include('layouts/navbar-super-admin.html.twig') }}{% endif %}
    {{ include('partials/flashbag.html.twig') }}
    {% block body %}
    {% endblock %}
    {% include 'layouts/footer-admin.html.twig' %}
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {#<script type="text/javascript">
        $(function () {
            const url = "{{ app.request.attributes.get('_route') }}";

            $('.sidemenu-body .sidemenu-nav').each(function () {
                const infoUrl = $(this).data('info');
                const result = infoUrl.search(url);

                //if (url === infoUrl) {
                if (result === -1) {
                    $(this).removeClass('active');
                } else {
                    $(this).addClass('active');
                }
            });
        });
    </script>#}
</body>
</html>
