{{ form_start(form) }}
<div class="form-group">{{ form_row(form.nom) }}</div>
<div class="form-group">{{ form_row(form.intro) }}</div>
<div class="form-group">{{ form_row(form.description) }}</div>
<div class="row">
    <div class="col-lg-6 col-md-6"><div class="form-group">{{ form_row(form.link) }}</div></div>
    <div class="col-lg-6 col-md-6"><div class="form-group">{{ form_row(form.video) }}</div></div>
</div>
<div class="form-group">{{ form_row(form.type) }}</div>
{{ form_row(form.logo) }}
    {% if app.request.attributes.get('_route') == 'categorie_edit' %}
        <div class="title">Illustration icon</div>
            <div class="row mb-5">
            {% for image in categorie.logo %}
                <div class="col-lg-3 col-md-3 col-sm-6 delete-image-container" style="background-image: url('{{ asset('/uploads/' ~ image.nom) }}');" id="view{{ image.id }}">
                    <a href="#" class="delete-sweetalert" data-id="{{ image.id }}" data-url="{{ path('categorie_delete_files', {'id': image.id}) }}">
                        <button class="delete-image" data-text="Delete"><i class="ri-delete-bin-line"></i></button>
                    </a>
                </div>
            {% endfor %}
            </div>
    {% endif %}
    <button type="submit" class="default-btn btn-sm border-radius-5 mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
