{% extends 'base-dashboard.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area">
        <h1>SDG's list</h1>
        <ol class="breadcrumb">
            <li class="item"><a href="{{ path('home') }}">Home</a></li>
            <li class="item">SDG's list</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="all-applicants-box">
        <div class="d-flex flex-row justify-content-between">
            <h2>SDGs list</h2>
            <a class="default-btn border-radius-5" href="{{ path('categorie_new') }}">Add</a>
        </div>

        <div class="row">
            {% for categorie in categories %}
            <div class="col-lg-6 col-md-12">
                <div class="single-applicants-card">
                    <div class="image">
                        <a href="#">
                            {% if categorie.logo %}
                                {% for logo in categorie.logo %}
                                    <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}">
                                {% endfor %}
                            {% endif %}
                        </a>
                    </div>

                    <div class="content">
                        <h3>
                            <a href="{{ path('categorie_show', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a>
                        </h3>
                        {% if categorie.projects %}
                        <span>{{ categorie.projects|length }} project</span>
                        {% endif %}

                        <div class="applicants-footer">
                            <ul class="option-list">
                                <li><a href="{{ path('categorie_show', {'slug': categorie.slug }) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View" type="button"><i class="ri-eye-line"></i></button></a></li>
                                <li><a href="{{ path('categorie_edit', {'id': categorie.id }) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" type="button"><i class="ri-edit-circle-fill"></i></button></a></li>
                                <li>{{ include('categorie/_delete_form.html.twig') }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
