<!-- Start Sidemenu Area -->
<div class="sidemenu-area">
    <div class="sidemenu-header">
        <a href="{{ path('home') }}" class="navbar-brand d-flex align-items-center">
            <img src="{{ asset('uploads/design/logo.png') }}" alt="logo" width="124px">
        </a>

        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>

    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
            <li class="nav-item active">
                <a href="{{ path('dashboard') }}" class="nav-link">
                    <span class="icon"><i class="ri-home-line"></i></span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                {% if app.user.profile %}
                <a href="{{ path('profile_show', {'id': app.user.profile.id}) }}" class="nav-link">
                    <span class="icon"><i class="ri-user-line"></i></span>
                    <span class="menu-title">My profile</span>
                </a>
                {% else %}
                    <a href="{{ path('profile_new') }}" class="nav-link">
                        <span class="icon"><i class="ri-user-line"></i></span>
                        <span class="menu-title">Create my Profile</span>
                    </a>
                {% endif %}
            </li>

            <li class="nav-item">
                <a href="{{ path('messages') }}" class="nav-link">
                    <span class="icon"><i class="ri-chat-1-line"></i></span>
                    <span class="menu-title">Messages ({{ render(controller('App\\Controller\\DashboardController::messageNotReadAdmin')) }})</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('edition_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-record-mail-line"></i></span>
                    <span class="menu-title">Editions</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('projects_for_admin') }}" class="nav-link">
                    <span class="icon"><i class="ri-briefcase-line"></i></span>
                    <span class="menu-title">Projects</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('categorie_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-file-list-line"></i></span>
                    <span class="menu-title">SDGs</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('partenaires_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-bookmark-line"></i></span>
                    <span class="menu-title">Partners</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('dictionnaire_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-list-check"></i></span>
                    <span class="menu-title">Dictionnaire</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('about_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-page-separator"></i></span>
                    <span class="menu-title">About</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('user_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-user-3-line"></i></span>
                    <span class="menu-title">Users</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('group_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-group-line"></i></span>
                    <span class="menu-title">Groups</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('team_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-stack-line"></i></span>
                    <span class="menu-title">Team members</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('tag_index') }}" class="nav-link">
                    <span class="icon"><i class="ri-list-ordered"></i></span>
                    <span class="menu-title">Tags</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('app_reset_password') }}" class="nav-link">
                    <span class="icon"><i class="ri-lock-line"></i></span>
                    <span class="menu-title">Change Password</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('logout') }}" class="nav-link">
                    <span class="icon"><i class="ri-logout-circle-r-line"></i></span>
                    <span class="menu-title">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Sidemenu Area -->