{{ form_start(form) }}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="form-group">
            {{ form_row(form.nom) }}
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            {{ form_row(form.intro) }}
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="col-lg-12">
        <div class="choose-img">
            {{ form_row(form.avatar) }}
            <p>Maximum file size: 2 MB</p>
        </div>
    </div>
    {% if app.request.attributes.get('_route') == 'project_edit' %}
        <div class="row mb-5">
            {% if project.avatar %}
                {% for image in project.avatar %}
                    <div class="col-lg-3 col-md-3 col-sm-6 delete-image-container" style="background-image: url('{{ asset('/uploads/' ~ image.nom) }}');" id="view{{ image.id }}">
                        <a href="#" class="delete-sweetalert" data-id="{{ image.id }}" data-url="{{ path('project_delete_files', {'id': image.id}) }}">
                            <button class="delete-image" data-text="Delete"><i class="ri-delete-bin-line"></i></button>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            {{ form_row(form.categorie) }}
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            {{ form_row(form.tags) }}
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="form-group">
            {{ form_row(form.auteur, { 'attr': {'id': 'select'} }) }}
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="form-group">
            {{ form_row(form.editor, { 'attr': {'id': 'select'} }) }}
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            {{ form_row(form.statut) }}
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="form-group">
            {{ form_row(form.video) }}
        </div>
    </div>

    <div class="col-lg-12">
        <div class="choose-img">
            <p class="title">Gallery images</p>
            {{ form_row(form.images) }}
            <p>Maximum file size: 2 MB</p>
        </div>
    </div>
    {% if app.request.attributes.get('_route') == 'project_edit' %}
        <div class="row mb-5">
            {% if project.images %}
                {% for image in project.images %}
                    <div class="col-lg-3 col-md-3 col-sm-6 delete-image-container" style="background-image: url('{{ asset('/uploads/' ~ image.nom) }}');" id="view{{ image.id }}">
                        <a href="#" class="delete-sweetalert" data-id="{{ image.id }}" data-url="{{ path('project_delete_files', {'id': image.id}) }}">
                            <button class="delete-image" data-text="Delete"><i class="ri-delete-bin-line"></i></button>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    <div class="col-lg-12 col-md-12 mt-2">
        <button type="submit" class="default-btn border-radius-5">
            Save <i class="ri-check-line"></i>
        </button>
    </div>
</div>
{{ form_end(form) }}