{% extends 'base-dashboard.html.twig' %}

{% block title %}All Projects{% endblock %}

{% block body %}

    <div class="resume-alerts-area">
        <div class="resume-alerts-table table-responsive">
            <div class="d-flex flex-row justify-content-between">
                <h2>Projects</h2>
                <a class="default-btn border-radius-5" href="{{ path('project_new') }}">Add</a>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Editor</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="{{ path('project_show', {'slug': project.slug }) }}">{{ project.nom }}</a></td>
                        <td>
                            {% for cat in project.categorie %}
                                {{ cat.nom }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for user in project.auteur %}
                                {{ user.fullname }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {{ project.editor }}
                        </td>
                        <td>
                            <ul class="option-list">
                                <li><a href="{{ path('project_show', {'slug': project.slug}) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View"><i class="ri-eye-line" type="button"></i></button></a></li>
                                <li><a href="{{ path('project_edit', {'id': project.id }) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="ri-edit-line"></i></button></a></li>
                                <li>{{ include('project/_delete_form.html.twig') }}</li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
