{% extends 'base.html.twig' %}

{% block title %}Projects | {{ project.nom }}{% endblock %}

{% block body %}
    <!-- Inner Banner -->
    <div class="inner-banner">
        <div class="container">
            <div class="inner-title text-center">
                <h3>{{ project.nom|capitalize }}</h3>
                <ul>
                    <li>
                        <a href="{{ path('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('all_projects') }}">All projects</a>
                    </li>
                    <li>{{ project.nom }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->

    <!-- Job Details Area -->
    <div class="job-details-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="job-details-widget-side pr-20">
                        <div class="job-details-widget">
                            <h3 class="title">Co-authors</h3>
                            <div class="bar"></div>
                            <ul class="job-details-widget-tag">
                                {% if project.auteur %}
                                    {% for user in project.auteur %}
                                        <li>{{ user.nom }} | </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="job-details-widget">
                            <h3 class="title">Related SDG</h3>
                            <div class="bar"></div>
                            <ul class="job-details-category">
                                {% for sdg in project.categorie %}
                                <li>
                                    <a href="{{ path('sdg_page', {'slug': sdg.slug }) }}">
                                        {% if sdg.logo %}
                                            {% for logo in sdg.logo %}
                                                <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}" width="50px">
                                            {% endfor %}
                                        {% endif %}
                                        <span class="m-2">{{ sdg.nom }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="job-details-widget">
                            <div class="job-details-social">
                                <span>Share Projects:</span>
                                <ul class="social-icon">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="job-details-widget">
                            <h3 class="title">Tags</h3>
                            <div class="bar"></div>
                            <ul class="job-details-widget-tag">
                                {% for tag in project.tags %}
                                <li>{{ tag.nom }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="job-details-content">
                        <div class="content mb-30">
                            <h3>Description</h3>
                            <div class="bar"></div>
                            {% if project.intro %}
                                <div class="blog-details-content">
                                    <blockquote class="blockquote">{{ project.intro|raw }}</blockquote>
                                </div>
                            {% endif %}
                            <p>{{ project.description|raw }}</p>
                        </div>
                        {% if project.images %}
                        <div class="job-details-portfolio">
                            <h3>Photos Gallery</h3>
                            <div class="bar"></div>
                            <div class="row gallery-photo">
                                {% for logo in project.images %}
                                    <div class="col-lg-3 col-6 col-md-3">
                                        <div class="job-details-portfolio-img">
                                            <a href="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}">
                                                <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}" width="196px">
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if project.video %}
                        <h3>Video</h3>
                        <div class="bar"></div>
                        <div class="job-details-play">
                            <a href="{{ project.video }}" class="play-btn" target="_blank">
                                <i class="ri-play-circle-line"></i>
                            </a>
                        </div>
                        {% endif %}

                        <h3>Other Projects</h3>
                        <div class="bar"></div>
                        <div class="row">
                            {% for project in projects|slice(0, 2) %}
                                <div class="col-lg-6">
                                    <div class="recent-job-card box-shadow">
                                        <div class="content">
                                            <div class="recent-job-img">
                                                {% if project.avatar %}
                                                    {% for logo in project.avatar %}
                                                        {% if loop.first %}
                                                        <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}" width="70px">
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <h3><a href="{{ path('project_page', {'slug': project.slug}) }}">{{ project.nom }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Details Area End -->
{% endblock %}
