{% include 'base.html.twig' %}

{% block title %}Users directory{% endblock %}

{% block body %}
    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area">
        <h1>Users</h1>
        <ol class="breadcrumb">
            <li class="item"><a href="{{ path('home') }}">Home</a></li>
            <li class="item">Users</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start Resume Alerts Area -->
    <div class="manage-jobs-box">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Users</h3>
                <div class="bar"></div>
            </div>
            <div>
                <a class="default-btn small border-radius-5" href="{{ path('user_create') }}"><i class="ri-add-line"></i> Add user</a>
                <a class="default-btn small border-radius-5" href="{{ path('users_delete') }}"><i class="ri-user-search-line"></i> Deleted</a>
            </div>
        </div>

        <div class="manage-jobs-table table-responsive">
            <table class="table table-bordered" id="datatable">
                <thead>
                <tr>
                    <th scope="col">Full name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Role</th>
                    <th scope="col">Registered At</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.nom|capitalize }} {{ user.prenom|capitalize }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                           {% if prof %}
                                <a href="{{ path('profile_show', {'id': prof.id}) }}"><i class="ri-eye-line" type="button"></i></a>
                            {% endif %}
                        </td>
                        <td>{{ user.getRoleName() }}</td>
                        <td>{{ user.createdAt|date('d-m-Y') }}</td>
                        <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                        <td>
                            <ul class="option-list">
                                <li><a href="{{ path('user_edit', {'id': user.id }) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="ri-edit-line"></i></button></a></li>
                                <li><a href="{{ path('user_delete_account', {'id': user.id }) }}"><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="ri-delete-bin-2-fill"></i></button></a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Start Resume Alerts Area -->
{% endblock %}
